<footer class="bg-mainBackground/75 py-10 container mx-auto">
    <div class="md:container mx-auto grid sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-5 gap-5 pb-5 border-b border-mainLightBackground">
        <div class="flex flex-col gap-2">
            <strong class="pb-2 text-lg">Products</strong>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">desktop wallet</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">mobile wallet</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">trezor hardware allet</a>
            <a href="/" class="font-bold  hover:underline transition duration-150 text-sm text-stone-400">p2p Crypto Apps</a>
        </div>
        <div class="flex flex-col gap-2">
            <strong class="pb-2 text-lg">Support</strong>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Support</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">knowledge base</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">legal inquiries</a>
            <a href="/" class="capitalize font-bold  hover:underline transition duration-150 text-sm text-stone-400">status</a>
        </div>
        <div class="flex flex-col gap-2">
            <strong class="pb-2 text-lg">Crypto News</strong>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">News and insights</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Youtube</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Newsletter</a>
        </div>
        <div class="flex flex-col gap-2">
            <strong class="pb-2 text-lg">Company</strong>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">About us</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Investors</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Carrers</a>
            <a href="/" class="font-bold  hover:underline transition duration-150 text-sm text-stone-400">Contact Us</a>
            <a href="/" class="font-bold  hover:underline transition duration-150 text-sm text-stone-400">Brand Guidlines</a>
        </div>
        <div class="flex flex-col gap-2">
            <strong class="pb-2 text-lg">Subscribe to our platform</strong>
            <p class="font-bold text-sm text-stone-400">Sign up to receive our newsletter with updates about your wallet.</p>
            <button class='bg-white self-start my-4 text-mainBackground rounded-full px-6 py-2 transition duration-100 hover:bg-main hover:text-stone-50'>Get Started</button>
        </div>
    </div>
    <div class="md:container mx-auto flex flex-col lg:flex-row gap-5 justify-between md:items-center pt-8">
        <div class="flex flex-col md:flex-row gap-5 md:items-center">
            <p class="font-bold text-sm text-stone-400">
                Made by love by <a href="https://github.com/yousefHelly" class="underline hover:text-main transition duration-150">yousefHelly</a> &copy; {new Date().getFullYear()}
            </p>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Privacy</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Terms</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Sitemap</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Company details</a>
        </div>
        <div class="flex flex-col md:flex-row gap-5 md:items-center">
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Discord</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Facebook</a>
            <a href="/" class="capitalize hover:underline transition duration-150  font-bold text-sm text-stone-400">Twitter</a>
        </div>
    </div>
</footer>