---
import LangChanger from './LangChanger'
import ResponsiveNav from '../components/ResponsiveNav.tsx'
import { Image } from 'astro:assets'
import logo from '../assets/logo.png'
interface Props  {
    page: string
}
const {page} = Astro.props
---
<nav class='hidden lg:block z-20 sticky top-0 bg-transparent'>
    <div class="px-20 border-b border-mainLightBackground/75 bg-mainBackground/75 backdrop-blur-sm flex justify-between items-center py-5 ">
        <div class='flex items-center gap-4'>
            <div class='-mt-2'>
                <a href='/' class='flex items-center gap-3'>
                    <Image src={logo} alt="cripz logo" class='mt-2' loading={'eager'} width={30} height={30}/>
                    <h3 class='text-2xl mt-1'>cripz</h3>
                </a>
            </div>
            <div class='px-2 py-[1px] text-sm rounded-lg border text-stone-500 border-stone-500'>
                v1.0
            </div>
        </div>
        <ul class='flex gap-5'>
            <a href={'/'} class={`${page==='home'?'bg-mainLightBackground/75':'text-stone-400 '}  font-bold px-3 py-1 rounded-md cursor-pointer transition duration-100 hover:text-main`}>Home</a>
            <a href={'/p2p'} class={`${page==='P2P'?'bg-mainLightBackground/75':'text-stone-400 '}  font-bold px-3 py-1 rounded-md cursor-pointer transition duration-100 hover:text-main`}>P2P</a>
            <a href={'/wallet'} class={`${page==='wallet'?'bg-mainLightBackground/75':'text-stone-400 '}  font-bold px-3 py-1 rounded-md cursor-pointer transition duration-100 hover:text-main`}>Wallet</a>
            <a href={'/academy'} class={`${page==='academy'?'bg-mainLightBackground/75':'text-stone-400 '}  font-bold px-3 py-1 rounded-md cursor-pointer transition duration-100 hover:text-main`}>Academy</a>
            <a href={'/b2b'} class={`${page==='B2B'?'bg-mainLightBackground/75':'text-stone-400 '}  font-bold px-3 py-1 rounded-md cursor-pointer transition duration-100 hover:text-main`}>B2B</a>
        </ul>
        <div class="flex gap-5">
            <LangChanger client:idle/>
            <button class='bg-white text-mainBackground rounded-full px-5 py-2 transition duration-100 hover:bg-main hover:text-stone-50'>Get Started</button>
        </div>
    </div>
</nav>
<nav class="flex px-6 lg:hidden z-20 sticky top-0 border-b border-mainLightBackground/75 bg-mainBackground/75 backdrop-blur-sm justify-between items-center py-5 ">
    <div class='flex items-center gap-4'>
        <div class='-mt-2'>
            <a href='/' class='flex items-center gap-3'>
                <Image src={logo} alt="cripz logo" class='mt-2' loading={'eager'} width={30} height={30}/>
                <h3 class='text-2xl mt-1'>cripz</h3>
            </a>
        </div>
        <div class='px-2 py-[1px] text-sm rounded-lg border text-stone-500 border-stone-500'>
            v1.0
        </div>
    </div>
    <ResponsiveNav page={page} client:media='(max-width: 1023px)'/>
</nav>
