---
import Header from  '../components/Header.astro' 
import Footer from '../components/Footer.astro'
import '../styles/globals.css'
interface Props {
    page: string
}
const {page} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/PRODIGY_WD_01/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page} - cripz</title>
		<meta name="description" content="Cripz is a Secure decentralized anonymous platform where people manage cryptocurrencies using any payment methods.">
	</head>
	<body  class="bg-mainBackground text-stone-50">
		<div class="h-[50rem] w-full bg-mainBackground text-stone-50 bg-dot-white/[0.60] -z-10 fixed">
			<div class="absolute pointer-events-none inset-0 flex items-center justify-center bg-black [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"></div>
		</div>
		<Header {page}/>
		<main class="z-10">
			<slot/>
		</main>
        <Footer/>
	</body>
</html>